
@media only screen and ( max-width: 1280px) {
    .ql-txt-block-title {
        font-size: 25px;
    }

    .ql-txt-block-sec-title {
        font-size: 18px;
    }
}

@media only screen and ( max-width: 1220px) {
    .bg_home_f_inner {
        width: 73%;
    }
}

@media only screen and ( max-width: 1040px) {
    .ql-txt-block-title {
        font-size: 22px;
    }

    .ql-txt-block-sec-title {
        font-size: 17px;
    }
}

@media only screen and ( max-width: 1010px) {
    .bg_home_f_inner {
        padding-left: 69px;
        width: 100%;
    }
}

@media only screen and ( max-width: 994px) {
    .bloker {
        max-width: 100%;
    }

    .bg_home_f_inner {
        width: 60%;
        margin: 0 auto;
    }

    .bg_home_f_q {
        float: none;
        width: auto;
        text-align: center;
        margin: 0 auto;
    }

    .bg_home_f_inner {
        padding-left: 0;
    }
}

@media only screen and ( max-width: 965px) {
    .ql_content {
        float: none;
        width: auto;
        padding: 5%;
    }

    .bg_contact h1 {
        font-size: 32px;
    }
}

@media only screen and ( max-width: 767px) {
    .bg1 h1 {
        font-size: 36px;
    }

    .bg1 p.sub_title {
        font-size: 16px;
    }
}

@media only screen and ( max-width: 700px) {

    .bg_home_2 h1 {
        font-size: 40px;
    }

    p.sub_title {
        font-size: 18px;
    }

    .bg_home_2 h2 {
        font-size: 30px;
    }

    .bg_home_2 p {
        font-size: 16px;
    }

    .bg_home_2_half {
        width: auto;
        height: auto;
    }

    .bg4 p {
        width: auto;
    }

    .bg4 {
        background-image: none;
    }

    .mcalc > .form_element{
        width: 100%;
    }

    .mcalc > h2 {
        font-size: 22px;
    }

    .div_mob_menu {
        margin: 3% 0 0 0;
    }

    .div_logo {
        margin: 2.5% 0 2.5% 0;
    }

    .div_mmenu a, .div_mmenu a:visited, .div_mmenu a:hover {
        font-size: 18px;
    }

    .menu_close {
        margin: 3% 16.3% 15% 0;
    }

    .team_block {
        width: 47%;
    }

    .team_contact {
        display: none;
    }

    .bg_contact_small {
        padding: 5% 0;
        width: 100%;
    }

    .contact_right img {
        margin: 2px 5px 0 0;
    }

    .bg_home_2 h1 {
        font-size: 30px;
    }

    .bg_reforpur a, .bg_reforpur a:visited, .bg_reforpur a:hover {
        font-size: 18px;
    }

    .bg_reforpur a.a_ref  {
        background-size: 30%;
    }

    .bg_reforpur a.a_pur {
        background-size: 37%;
    }

    .bg_home_f {
        background-size: 100%;
    }

    .av_pos_list {
        width: 100%;
        padding: 5% 0!important;
    }

    .careers_txt {
        padding: 0 15px;
    }

    .form_left .form_element,
    .form_left .form_element input[type=submit],
    .tab img,
    .repeat table,
    .form_element.full_width input,
    #declarations-select
    {
        width: 90%;
    }

    #declarations-select {
        width: 90%!important;
    }

    .form_element input.half_width,
    .form_element select.half_width,
    .form_element textarea.half_width {
        width: 90%;
        margin-bottom: 10px;
    }

    .form_element label, .form_element {
        margin-bottom: 5px;
    }

    .form_left .form_element input[type=submit], .repeat {
        margin-bottom: 10px!important;
    }

    .form_element span {
        float: none;
    }

    #declarations_list {
        margin-bottom: 5%;
    }

    .goto {
        margin: 10px 0;
    }

    #declarations_list > div {
        margin-bottom: 10px;
    }

    .declarations {
        margin-bottom: 10px;
        display: inline-block;
    }

    #declarations_list {
        font-size: 15px;
    }
}

@media only screen and ( max-width: 650px) {
    .ql-icon {
        left: -22px;
        padding: 2% 1%;
        border-radius: 14px;
    }

    .ql-icon img {
        padding: 8px;
        box-sizing: border-box;
    }

    .ql-top-pic img {
        width: 82px;
    }

    .ql-list:first-of-type {
        right: 20px;
    }

    .ql-list:after, .ql-list:before {
        border-left: 2px solid #aaa;
    }

    .ql-list {
        margin-bottom: 51px;
    }

    .ql-list:after, .ql-list:before {
        left: 20px;
        top: 86px;
    }

    .ql-circle {
        width: 41px;
        height: 41px;
        font-size: 20px;
        line-height: 41px;
    }

    .ql-txt-block-title {
        font-size: 20px;
    }

    .ql-txt-block-sec-title {
        font-size: 16px;
    }

    .bg_contact h1 {
        font-size: 22px;
    }

    .div_mob_menu {
        margin: 3% 0% 0 0;
    }

    .div_logo {
        margin: 2.5% 0 2.5% 0%;
    }
}

@media only screen and ( max-width: 570px) {
    .ql_content_ul {
        padding-left: 15px;
    }

    .ql-list:after, .ql-list:before {
        left: 20px;
        top: 86px;
    }

    .ql-icon {
        left: -19px;
    }

    .ql-txt-block {
        padding-left: 30px;
    }

    .div_logo a svg {
        width: 200px;
    }

    .div_mob_menu {
        font-size: 16px;
    }

    .bg_contact h1 {
        font-size: 18px;
    }

    .ql_box {
        border: none;
        margin: 0;
        padding-top: 0;
    }
    .ql_box_top {
        display: none;
    }
    .ql_box_item {
        margin-left: 0;
        margin-bottom: 50px;
    }
    .ql_box_item_number {
        display: none;
    }
    .ql_box_item_text {
        font-size: 16px;
    }
    .ql_box_item_text h3 {
        font-size: 22px;
    }
}

@media only screen and ( max-width: 480px) {
    p.sub_title {
        font-size: 16px;
    }

    .bg1 {
        padding: 5% 0!important;
    }

    .bg_home_2 {
        width: auto!important;
    }

    .bg_home_2 h2 {
        font-size: 25px;
    }

    .bg_home_2 p {
        font-size: 14px;
        text-align: justify;
    }

    .bg3 ul li, .bg_home_2, .btn_qp, .bg_home_2_half {
        font-size: 14px;
    }

    .bg_home_2 h2 {
        font-size: 20px;
    }

    .bg_home_2 p.secondary_title {
        text-align: center;
    }

    .bg_home_2 {
        padding: 5% 10%;
    }

    .div_logo a {
        display: inline-block;
        width: 70%;
    }

    .div_logo a img {
        max-width: 100%;
    }

    .menu_hide {
        display: none;
    }

    .bg_home_t {
        padding: 10px 0;
    }

    .div_logo {
        display: inline-block;
        width: 60%;
        margin-left: 25px;
    }

    .div_mob_menu img {
        width: 47%;
        cursor: pointer;
    }

    .div_mob_menu {
        cursor: default;
        margin: 3% 10px 0 0;
    }

    .div_mmenu a, .div_mmenu a:visited, .div_mmenu a:hover {
        font-size: 16px;
    }

    .menu_close {
        margin: 5% 6.3% 15% 0;
    }

    .menu_close img {
        width: 47%;
    }

    .team_block {
        width: 100%;
    }

    .contact_right, .contact_left {
        width: 100%;
    }

    .bg_team h1 {
        font-size: 30px;
    }

    .contact_right span {
        font-size: 15px;
    }

    .bg_home_2 h1 {
        font-size: 22px;
    }

    .bg_reforpur a.a_ref {
        background-size: 20%;
    }

    .bg_reforpur a.a_pur {
        background-size: 25%;
    }

    .bg_reforpur {
        padding: 5% 20%;
    }

    .div_mmenu a, .div_mmenu a:visited, .div_mmenu a:hover {
        padding-bottom: 10px;
    }

    .careers_block {
        font-size: 12px;
        width: 80%;
    }

    .av_pos_list {
        float: none;
    }

    .careers_block button {
        margin-top: 0;
    }

    .careers_block {
        display: inline-block;
    }
}

@media only screen and ( max-width: 380px) {
    .bg_contact h1 {
        font-size: 16px;
    }

    .div_logo a svg {
        width: 150px;
    }

    .bg_home_f_q i.icon {
        margin: 17px 0;
    }

    .contact_right img {
        margin: 2px 0 0 0;
    }

    .bg_home_2 h1 {
        font-size: 17px;
    }

    .bg_reforpur a, .bg_reforpur a:visited, .bg_reforpur a:hover {
        font-size: 16px;
    }

    .bg_reforpur a.a_ref {
        background-size: 18%;
    }

    .bg_reforpur a.a_pur {
        background-size: 22%;
    }

    .bg_reforpur a, .bg_reforpur a:visited, .bg_reforpur a:hover {
        font-size: 14px;
    }
}
